body {
    background-color: #f1f5fc;
    font-family: 'Questrial', 'Helvetica Neue', sans-serif;
    color: #2A3B47;
    margin: 0 0 0 0;
}

ul {
    font-size: 1.5vw;
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

ul li {
    font: 1.7vw;
    width: 5.5vw;
    display: inline-block;
    position: relative;
    padding: 1vw;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

.satz {
    font-weight: 900;
    font-size: 46px;
    margin: 4% 0 0 2.5%;
    color: #071e57;
    font-family: 'Questrial', 'Helvetica Neue', sans-serif;
}

.untersatz {
    color: #556575;
    margin: 1% 2.5%;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.75;
}

#logo {
    width: 200px;
    height: auto;
    display: inline-block;
}

.header {
    width: max-content;
}

button {
    margin: 2vw;
    background-color: #1292EE;
    border-radius: 5px;
    border-color: #0e7bc9;
    border-width: 0;
    padding: 14px;
    color: #fff;
    font-size: 2.5vh;
    text-decoration: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 2px 20px -1px rgba(20, 45, 100, .25);
    transition: all .2s cubic-bezier(.455, .03, .515, .955);
    -webkit-transition: all .2s cubic-bezier(.455, .03, .515, .955);
    -moz-transition: all .2s cubic-bezier(.455, .03, .515, .955);
    -ms-transition: all .2s cubic-bezier(.455, .03, .515, .955);
    -o-transition: all .2s cubic-bezier(.455, .03, .515, .955);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-user-select: none;
    font-family: 'Questrial', 'Helvetica Neue', sans-serif;
}

button.portion {
    margin: 24px;
    padding: 0px 14px !important;
}

button:hover {
    background-color: #259bef;
    box-shadow: 0 8px 36px -3px rgba(20, 45, 100, .35);
}

.firstpage {
    height: auto;
}

.bgim-1 {
    background-image: url("trash1.jpg");
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.featurescap {
    color: #f1f5fc;
    margin: 5%;
    font-weight: 900;
    font-size: 2.8em;
    letter-spacing: 0.5px;
    font-family: 'Questrial', 'Helvetica Neue', sans-serif;
}

ol {
    color: #f1f5fc;
    font-size: 4vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headeritem>a {
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    color: #556573;
    text-decoration: none;
    font: 1.4vw;
    margin-left: 5px;
}

.headeritem:hover>a {
    color: #253642;
}

.portion {
    white-space: nowrap;
    line-height: 42px;
}

.row>.headeritem:nth-child(2) {
    padding: 24px 24px 24px 0px !important;
}